<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>h</key>
        <integer>480</integer>
        <key>img</key>
        <string>http://xqproduct.xiangqu.com/FvUxhTJSYBuFloPwHM-OeM399bfV?imageView2/2/w/300/q/90/format/jpg/@w/$w$@/@h/$h$@/700x1161/</string>
        
        <key>price</key>
        <string>￥299.26</string>
        <key>w</key>
        <integer>290</integer>
    </dict>
    <dict>
        <key>h</key>
        <integer>290</integer>
        <key>img</key>
        <string>http://xqproduct.xiangqu.com/Fuh3sKHDRUaLCHbopi25LpYrxRmr?imageView2/2/w/300/q/90/format/jpg/@w/$w$@/@h/$h$@/800x800/</string>
        
        <key>price</key>
        <string>￥68.00</string>
        <key>w</key>
        <integer>290</integer>
    </dict>
    <dict>
        <key>h</key>
        <integer>290</integer>
        <key>img</key>
        <string>http://xqproduct.xiangqu.com/FveDrjGHXJ8kqH9LVqnm8mIc_Ebu?imageView2/2/w/300/q/90/format/jpg/@w/$w$@/@h/$h$@/600x600/</string>
        
        <key>price</key>
        <string>￥1180.00</string>
        <key>w</key>
        <integer>290</integer>
    </dict>
    <dict>
        <key>h</key>
        <integer>290</integer>
        <key>img</key>
        <string>http://xqproduct.xiangqu.com/FvLmc4mXWkadpNRVJsRwlUabwFw1?imageView2/2/w/300/q/90/format/jpg/@w/$w$@/@h/$h$@/800x800/</string>
        
        <key>price</key>
        <string>￥45.00</string>
        <key>w</key>
        <integer>290</integer>
    </dict>
    <dict>
        <key>h</key>
        <integer>290</integer>
        <key>img</key>
        <string>http://xqproduct.xiangqu.com/FjcO7UoUJfLkrk50CPnGnkTVtPnM?imageView2/2/w/300/q/90/format/jpg/@w/$w$@/@h/$h$@/500x500/</string>
        
        <key>price</key>
        <string>￥95.00</string>
        <key>w</key>
        <integer>290</integer>
    </dict>
    <dict>
        <key>h</key>
        <integer>290</integer>
        <key>img</key>
        <string>http://xqproduct.xiangqu.com/FiuHw7kOWYitP0m4IoPZzJ3xIcmv?imageView2/2/w/300/q/90/format/jpg/@w/$w$@/@h/$h$@/600x600/</string>
        
        <key>price</key>
        <string>￥39.00</string>
        <key>w</key>
        <integer>290</integer>
    </dict>
    <dict>
        <key>h</key>
        <integer>444</integer>
        <key>img</key>
        
        <string>http://xqproduct.xiangqu.com/FkyTmgsMLpHVVtRb2swexk4Sog1x?imageView2/2/w/300/q/90/format/jpg/@w/$w$@/@h/$h$@/640x981/</string>
        <key>price</key>
        <string>￥199.00</string>
        <key>w</key>
        <integer>290</integer>
    </dict>
    <dict>
        <key>h</key>
        <integer>290</integer>
        <key>img</key>
        
        <string>http://xqproduct.xiangqu.com/FmrKONHW0GY0gQ-zMjnuUnRIXBt7?imageView2/2/w/300/q/90/format/jpg/@w/$w$@/@h/$h$@/800x800/</string>
        <key>price</key>
        <string>￥299.00</string>
        <key>w</key>
        <integer>290</integer>
    </dict>
    <dict>
        <key>h</key>
        <integer>290</integer>
        <key>img</key>
        
        <string>http://xqproduct.xiangqu.com/FmT4d_Yurwpqu_8sfOEoVDW0Smik?imageView2/2/w/300/q/90/format/jpg/@w/$w$@/@h/$h$@/900x900/</string>
        <key>price</key>
        <string>￥288.00</string>
        <key>w</key>
        <integer>290</integer>
    </dict>
    <dict>
        <key>h</key>
        <integer>290</integer>
        <key>img</key>
        
        <string>http://xqproduct.xiangqu.com/FnHGHyoDQC0xX8XhSLmB7tPx4lQk?imageView2/2/w/300/q/90/format/jpg/@w/$w$@/@h/$h$@/750x750/</string>
        <key>price</key>
        <string>￥1380.00</string>
        <key>w</key>
        <integer>290</integer>
    </dict>
    <dict>
        <key>h</key>
        <integer>290</integer>
        <key>img</key>
        
        <string>http://xqproduct.xiangqu.com/FmNdIKHYerYg6jzW1OYzdhhWgqTr?imageView2/2/w/300/q/90/format/jpg/@w/$w$@/@h/$h$@/900x900/</string>
        <key>price</key>
        <string>￥220.80</string>
        <key>w</key>
        <integer>290</integer>
    </dict>
    <dict>
        <key>h</key>
        <integer>290</integer>
        <key>img</key>
        
        <string>http://xqproduct.xiangqu.com/FogshFiq0lOFXGkj_hKHBUUVVvZW?imageView2/2/w/300/q/90/format/jpg/@w/$w$@/@h/$h$@/650x650/</string>
        <key>price</key>
        <string>￥302.00</string>
        <key>w</key>
        <integer>290</integer>
    </dict>
    <dict>
        <key>h</key>
        <integer>290</integer>
        <key>img</key>
        
        <string>http://xqproduct.xiangqu.com/FgUXjl4jUd7dfeiylxjmnfU0vABV?imageView2/2/w/300/q/90/format/jpg/@w/$w$@/@h/$h$@/800x800/</string>
        <key>price</key>
        <string>￥1111.20</string>
        <key>w</key>
        <integer>290</integer>
    </dict>
    <dict>
        <key>h</key>
        <integer>290</integer>
        <key>img</key>
        
        <string>http://xqproduct.xiangqu.com/Fku8nFowE8o6Q5KgIZ3Oa083riHo?imageView2/2/w/300/q/90/format/jpg/@w/$w$@/@h/$h$@/460x460/</string>
        <key>price</key>
        <string>￥198.00</string>
        <key>w</key>
        <integer>290</integer>
    </dict>
    <dict>
        <key>h</key>
        <integer>290</integer>
        <key>img</key>
        
        <string>http://xqproduct.xiangqu.com/FsA0YbOm5fioYJIpyz8rsNoG7RVh?imageView2/2/w/300/q/90/format/jpg/@w/$w$@/@h/$h$@/700x700/</string>
        <key>price</key>
        <string>￥680.00</string>
        <key>w</key>
        <integer>290</integer>
    </dict>
    <dict>
        <key>h</key>
        <integer>290</integer>
        <key>img</key>
        
        <string>http://xqproduct.xiangqu.com/Fjh9tUJKPi56PDopd5rnGnEd90Um?imageView2/2/w/300/q/90/format/jpg/@w/$w$@/@h/$h$@/800x800/</string>
        <key>price</key>
        <string>￥109.00</string>
        <key>w</key>
        <integer>290</integer>
    </dict>
    <dict>
        <key>h</key>
        <integer>290</integer>
        <key>img</key>
        
        <string>http://xqproduct.xiangqu.com/FkdKQqRGkXvToO9Wr3P4g7SF8-JN?imageView2/2/w/300/q/90/format/jpg/@w/$w$@/@h/$h$@/700x700/</string>
        <key>price</key>
        <string>￥302.00</string>
        <key>w</key>
        <integer>290</integer>
    </dict>
    <dict>
        <key>h</key>
        <integer>322</integer>
        <key>img</key>
        
        <string>http://xqproduct.xiangqu.com/FrGW-ZP5wTyOygFKx4w9CgNF1HWy?imageView2/2/w/300/q/90/format/jpg/@w/$w$@/@h/$h$@/800x891/</string>
        <key>price</key>
        <string>￥245.00</string>
        <key>w</key>
        <integer>290</integer>
    </dict>
    <dict>
        <key>h</key>
        <integer>290</integer>
        <key>img</key>
        <string>http://xqproduct.xiangqu.com/Fuh3sKHDRUaLCHbopi25LpYrxRmr?imageView2/2/w/300/q/90/format/jpg/@w/$w$@/@h/$h$@/800x800/</string>
        
        <key>price</key>
        <string>￥68.00</string>
        <key>w</key>
        <integer>290</integer>
    </dict>
    <dict>
        <key>h</key>
        <integer>480</integer>
        <key>img</key>
        <string>http://xqproduct.xiangqu.com/FvUxhTJSYBuFloPwHM-OeM399bfV?imageView2/2/w/300/q/90/format/jpg/@w/$w$@/@h/$h$@/700x1161/</string>
        
        <key>price</key>
        <string>￥299.26</string>
        <key>w</key>
        <integer>290</integer>
    </dict>
    <dict>
        <key>h</key>
        <integer>290</integer>
        <key>img</key>
        <string>http://xqproduct.xiangqu.com/FveDrjGHXJ8kqH9LVqnm8mIc_Ebu?imageView2/2/w/300/q/90/format/jpg/@w/$w$@/@h/$h$@/600x600/</string>
        
        <key>price</key>
        <string>￥1180.00</string>
        <key>w</key>
        <integer>290</integer>
    </dict>
    <dict>
        <key>h</key>
        <integer>290</integer>
        <key>img</key>
        <string>http://xqproduct.xiangqu.com/FjcO7UoUJfLkrk50CPnGnkTVtPnM?imageView2/2/w/300/q/90/format/jpg/@w/$w$@/@h/$h$@/500x500/</string>
        
        <key>price</key>
        <string>￥95.00</string>
        <key>w</key>
        <integer>290</integer>
    </dict>
    <dict>
        <key>h</key>
        <integer>444</integer>
        <key>img</key>
        <string>http://xqproduct.xiangqu.com/FkyTmgsMLpHVVtRb2swexk4Sog1x?imageView2/2/w/300/q/90/format/jpg/@w/$w$@/@h/$h$@/640x981/</string>
        
        <key>price</key>
        <string>￥199.00</string>
        <key>w</key>
        <integer>290</integer>
    </dict>
    <dict>
        <key>h</key>
        <integer>290</integer>
        <key>img</key>
        <string>http://xqproduct.xiangqu.com/FiuHw7kOWYitP0m4IoPZzJ3xIcmv?imageView2/2/w/300/q/90/format/jpg/@w/$w$@/@h/$h$@/600x600/</string>
        
        <key>price</key>
        <string>￥39.00</string>
        <key>w</key>
        <integer>290</integer>
    </dict>
    <dict>
        <key>h</key>
        <integer>290</integer>
        <key>img</key>
        
        <string>http://xqproduct.xiangqu.com/FvLmc4mXWkadpNRVJsRwlUabwFw1?imageView2/2/w/300/q/90/format/jpg/@w/$w$@/@h/$h$@/800x800/</string>
        <key>price</key>
        <string>￥45.00</string>
        <key>w</key>
        <integer>290</integer>
    </dict>
    <dict>
        <key>h</key>
        <integer>290</integer>
        <key>img</key>
        
        <string>http://xqproduct.xiangqu.com/Fku8nFowE8o6Q5KgIZ3Oa083riHo?imageView2/2/w/300/q/90/format/jpg/@w/$w$@/@h/$h$@/460x460/</string>
        <key>price</key>
        <string>￥198.00</string>
        <key>w</key>
        <integer>290</integer>
    </dict>
    <dict>
        <key>h</key>
        <integer>290</integer>
        <key>img</key>
        
        <string>http://xqproduct.xiangqu.com/Fjh9tUJKPi56PDopd5rnGnEd90Um?imageView2/2/w/300/q/90/format/jpg/@w/$w$@/@h/$h$@/800x800/</string>
        <key>price</key>
        <string>￥109.00</string>
        <key>w</key>
        <integer>290</integer>
    </dict>
    <dict>
        <key>h</key>
        <integer>290</integer>
        <key>img</key>
        
        <string>http://xqproduct.xiangqu.com/FsA0YbOm5fioYJIpyz8rsNoG7RVh?imageView2/2/w/300/q/90/format/jpg/@w/$w$@/@h/$h$@/700x700/</string>
        <key>price</key>
        <string>￥680.00</string>
        <key>w</key>
        <integer>290</integer>
    </dict>
    <dict>
        <key>h</key>
        <integer>290</integer>
        <key>img</key>
        
        <string>http://xqproduct.xiangqu.com/FnHGHyoDQC0xX8XhSLmB7tPx4lQk?imageView2/2/w/300/q/90/format/jpg/@w/$w$@/@h/$h$@/750x750/</string>
        <key>price</key>
        <string>￥1380.00</string>
        <key>w</key>
        <integer>290</integer>
    </dict>
    <dict>
        <key>h</key>
        <integer>290</integer>
        <key>img</key>
        
        <string>http://xqproduct.xiangqu.com/FmNdIKHYerYg6jzW1OYzdhhWgqTr?imageView2/2/w/300/q/90/format/jpg/@w/$w$@/@h/$h$@/900x900/</string>
        <key>price</key>
        <string>￥220.80</string>
        <key>w</key>
        <integer>290</integer>
    </dict>
    <dict>
        <key>h</key>
        <integer>290</integer>
        <key>img</key>
        
        <string>http://xqproduct.xiangqu.com/Fox4QAG0fWzpyubO48p_Z5uEcAza?imageView2/2/w/300/q/90/format/jpg/@w/$w$@/@h/$h$@/700x700/</string>
        <key>price</key>
        <string>￥1800.00</string>
        <key>w</key>
        <integer>290</integer>
    </dict>
    <dict>
        <key>h</key>
        <integer>290</integer>
        <key>img</key>
        
        <string>http://xqproduct.xiangqu.com/FkdKQqRGkXvToO9Wr3P4g7SF8-JN?imageView2/2/w/300/q/90/format/jpg/@w/$w$@/@h/$h$@/700x700/</string>
        <key>price</key>
        <string>￥302.00</string>
        <key>w</key>
        <integer>290</integer>
    </dict>
    <dict>
        <key>h</key>
        <integer>290</integer>
        <key>img</key>
        
        <string>http://xqproduct.xiangqu.com/FtZi61HZ-njzBmI6vit1mlzeiFkX?imageView2/2/w/300/q/90/format/jpg/@w/$w$@/@h/$h$@/1200x1200/</string>
        <key>price</key>
        <string>￥2989.00</string>
        <key>w</key>
        <integer>290</integer>
    </dict>
    <dict>
        <key>h</key>
        <integer>322</integer>
        <key>img</key>
        
        <string>http://xqproduct.xiangqu.com/FrGW-ZP5wTyOygFKx4w9CgNF1HWy?imageView2/2/w/300/q/90/format/jpg/@w/$w$@/@h/$h$@/800x891/</string>
        <key>price</key>
        <string>￥245.00</string>
        <key>w</key>
        <integer>290</integer>
    </dict>
    <dict>
        <key>h</key>
        <integer>290</integer>
        <key>img</key>
        
        <string>http://xqproduct.xiangqu.com/FiuVzSQ_tThGIGTKHA_fTlMX6QCe?imageView2/2/w/300/q/90/format/jpg/@w/$w$@/@h/$h$@/700x700/</string>
        <key>price</key>
        <string>￥1280.00</string>
        <key>w</key>
        <integer>290</integer>
    </dict>
    <dict>
        <key>h</key>
        <integer>290</integer>
        <key>img</key>
        
        <string>http://xqproduct.xiangqu.com/FscepJff4yyG42xNZzrREbi3ZDWE?imageView2/2/w/300/q/90/format/jpg/@w/$w$@/@h/$h$@/605x605/</string>
        <key>price</key>
        <string>￥358.20</string>
        <key>w</key>
        <integer>290</integer>
    </dict>
    <dict>
        <key>h</key>
        <integer>480</integer>
        <key>img</key>
        <string>http://xqproduct.xiangqu.com/FvUxhTJSYBuFloPwHM-OeM399bfV?imageView2/2/w/300/q/90/format/jpg/@w/$w$@/@h/$h$@/700x1161/</string>
        
        <key>price</key>
        <string>￥299.26</string>
        <key>w</key>
        <integer>290</integer>
    </dict>
    <dict>
        <key>h</key>
        <integer>290</integer>
        <key>img</key>
        <string>http://xqproduct.xiangqu.com/Fuh3sKHDRUaLCHbopi25LpYrxRmr?imageView2/2/w/300/q/90/format/jpg/@w/$w$@/@h/$h$@/800x800/</string>
        
        <key>price</key>
        <string>￥68.00</string>
        <key>w</key>
        <integer>290</integer>
    </dict>
    <dict>
        <key>h</key>
        <integer>290</integer>
        <key>img</key>
        <string>http://xqproduct.xiangqu.com/FveDrjGHXJ8kqH9LVqnm8mIc_Ebu?imageView2/2/w/300/q/90/format/jpg/@w/$w$@/@h/$h$@/600x600/</string>
        
        <key>price</key>
        <string>￥1180.00</string>
        <key>w</key>
        <integer>290</integer>
    </dict>
    <dict>
        <key>h</key>
        <integer>290</integer>
        <key>img</key>
        <string>http://xqproduct.xiangqu.com/FvLmc4mXWkadpNRVJsRwlUabwFw1?imageView2/2/w/300/q/90/format/jpg/@w/$w$@/@h/$h$@/800x800/</string>
        
        <key>price</key>
        <string>￥45.00</string>
        <key>w</key>
        <integer>290</integer>
    </dict>
    <dict>
        <key>h</key>
        <integer>290</integer>
        <key>img</key>
        <string>http://xqproduct.xiangqu.com/FjcO7UoUJfLkrk50CPnGnkTVtPnM?imageView2/2/w/300/q/90/format/jpg/@w/$w$@/@h/$h$@/500x500/</string>
        
        <key>price</key>
        <string>￥95.00</string>
        <key>w</key>
        <integer>290</integer>
    </dict>
    <dict>
        <key>h</key>
        <integer>290</integer>
        <key>img</key>
        <string>http://xqproduct.xiangqu.com/FiuHw7kOWYitP0m4IoPZzJ3xIcmv?imageView2/2/w/300/q/90/format/jpg/@w/$w$@/@h/$h$@/600x600/</string>
        
        <key>price</key>
        <string>￥39.00</string>
        <key>w</key>
        <integer>290</integer>
    </dict>
    <dict>
        <key>h</key>
        <integer>444</integer>
        <key>img</key>
        
        <string>http://xqproduct.xiangqu.com/FkyTmgsMLpHVVtRb2swexk4Sog1x?imageView2/2/w/300/q/90/format/jpg/@w/$w$@/@h/$h$@/640x981/</string>
        <key>price</key>
        <string>￥199.00</string>
        <key>w</key>
        <integer>290</integer>
    </dict>
    <dict>
        <key>h</key>
        <integer>290</integer>
        <key>img</key>
        
        <string>http://xqproduct.xiangqu.com/FmrKONHW0GY0gQ-zMjnuUnRIXBt7?imageView2/2/w/300/q/90/format/jpg/@w/$w$@/@h/$h$@/800x800/</string>
        <key>price</key>
        <string>￥299.00</string>
        <key>w</key>
        <integer>290</integer>
    </dict>
    <dict>
        <key>h</key>
        <integer>290</integer>
        <key>img</key>
        
        <string>http://xqproduct.xiangqu.com/FmT4d_Yurwpqu_8sfOEoVDW0Smik?imageView2/2/w/300/q/90/format/jpg/@w/$w$@/@h/$h$@/900x900/</string>
        <key>price</key>
        <string>￥288.00</string>
        <key>w</key>
        <integer>290</integer>
    </dict>
    <dict>
        <key>h</key>
        <integer>290</integer>
        <key>img</key>
        
        <string>http://xqproduct.xiangqu.com/FnHGHyoDQC0xX8XhSLmB7tPx4lQk?imageView2/2/w/300/q/90/format/jpg/@w/$w$@/@h/$h$@/750x750/</string>
        <key>price</key>
        <string>￥1380.00</string>
        <key>w</key>
        <integer>290</integer>
    </dict>
    <dict>
        <key>h</key>
        <integer>290</integer>
        <key>img</key>
        
        <string>http://xqproduct.xiangqu.com/FmNdIKHYerYg6jzW1OYzdhhWgqTr?imageView2/2/w/300/q/90/format/jpg/@w/$w$@/@h/$h$@/900x900/</string>
        <key>price</key>
        <string>￥220.80</string>
        <key>w</key>
        <integer>290</integer>
    </dict>
    <dict>
        <key>h</key>
        <integer>290</integer>
        <key>img</key>
        
        <string>http://xqproduct.xiangqu.com/FogshFiq0lOFXGkj_hKHBUUVVvZW?imageView2/2/w/300/q/90/format/jpg/@w/$w$@/@h/$h$@/650x650/</string>
        <key>price</key>
        <string>￥302.00</string>
        <key>w</key>
        <integer>290</integer>
    </dict>
    <dict>
        <key>h</key>
        <integer>290</integer>
        <key>img</key>
        
        <string>http://xqproduct.xiangqu.com/FgUXjl4jUd7dfeiylxjmnfU0vABV?imageView2/2/w/300/q/90/format/jpg/@w/$w$@/@h/$h$@/800x800/</string>
        <key>price</key>
        <string>￥1111.20</string>
        <key>w</key>
        <integer>290</integer>
    </dict>
    <dict>
        <key>h</key>
        <integer>290</integer>
        <key>img</key>
        
        <string>http://xqproduct.xiangqu.com/Fku8nFowE8o6Q5KgIZ3Oa083riHo?imageView2/2/w/300/q/90/format/jpg/@w/$w$@/@h/$h$@/460x460/</string>
        <key>price</key>
        <string>￥198.00</string>
        <key>w</key>
        <integer>290</integer>
    </dict>
    <dict>
        <key>h</key>
        <integer>290</integer>
        <key>img</key>
        
        <string>http://xqproduct.xiangqu.com/FsA0YbOm5fioYJIpyz8rsNoG7RVh?imageView2/2/w/300/q/90/format/jpg/@w/$w$@/@h/$h$@/700x700/</string>
        <key>price</key>
        <string>￥680.00</string>
        <key>w</key>
        <integer>290</integer>
    </dict>
    <dict>
        <key>h</key>
        <integer>290</integer>
        <key>img</key>
        
        <string>http://xqproduct.xiangqu.com/Fjh9tUJKPi56PDopd5rnGnEd90Um?imageView2/2/w/300/q/90/format/jpg/@w/$w$@/@h/$h$@/800x800/</string>
        <key>price</key>
        <string>￥109.00</string>
        <key>w</key>
        <integer>290</integer>
    </dict>
    <dict>
        <key>h</key>
        <integer>290</integer>
        <key>img</key>
        
        <string>http://xqproduct.xiangqu.com/FkdKQqRGkXvToO9Wr3P4g7SF8-JN?imageView2/2/w/300/q/90/format/jpg/@w/$w$@/@h/$h$@/700x700/</string>
        <key>price</key>
        <string>￥302.00</string>
        <key>w</key>
        <integer>290</integer>
    </dict>
    <dict>
        <key>h</key>
        <integer>322</integer>
        <key>img</key>
        
        <string>http://xqproduct.xiangqu.com/FrGW-ZP5wTyOygFKx4w9CgNF1HWy?imageView2/2/w/300/q/90/format/jpg/@w/$w$@/@h/$h$@/800x891/</string>
        <key>price</key>
        <string>￥245.00</string>
        <key>w</key>
        <integer>290</integer>
    </dict>
</array>
</plist>
